body {
  background-color: rgb(73, 73, 73);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar {
  width: 100%;
  max-width: none;
  height: 64px;
  background-color: #e6e8eb;
  border-bottom: 5px solid #a1a2a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

#navigation-bar-color {
  border-bottom: 3px solid #242424;
}

.navigation-bar h1 {
  font-size: 24px;
  color: #252525;
  font-family: 'Mojangles', sans-serif;
}

.navigation-bar a {
  font-size: 16px;
  margin-left: 10px;
}

.card-img-header {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por defecto */
  grid-gap: 24px;
  max-width: 1200px;
  margin: 12px auto;
  padding: 20px;
  justify-content: center;
}

.card-container-view {
  display: flex;
  flex-direction: column;
  background-color: #48494a;
  border: 3px solid #1e1e1f;
  align-items: stretch;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  min-width: 45%;
  max-width: 600px;
  margin: 0 auto;
}

.card-container-view:hover {
  transform: translate(-2px, -2px);
}

.small-card-divider {
  background-color: #48494a;
  border-bottom: 3px solid #2a2b2c;
  color: #fff;
  font-family: 'Mojangles', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
  height: 100%;
}

.card-title {
  padding-bottom: 6px;
}

.small-card-header-title {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 16px;
}

.small-card-header-description {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.32);
  padding: 4px 6px;
  margin-bottom: 10px;
}

.white-button {
  color: #000;
  background-color: #d1d0d4;
  border: 3px solid #edecee;
  font-family: 'Mojangles', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  display: block;
}

.white-button:hover {
  background-color: #b4b4b4;
  border-width: 3px;
  border-color: #d4d4d4;
}

.white-button:active {
  background-color: #777777;
  border-color: #b6b6b6;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
  }

  .card-container-view {
    min-width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Asegura que no se reduzca en pantallas pequeñas */
  }
  
  .navigation-bar {
    padding: 0 10px;
  }
  
  .navigation-bar h1 {
    font-size: 20px;
  }

  .navigation-bar a {
    font-size: 16px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@font-face {
  font-family: 'Mojangles';
  font-display: swap;
  src: url('fonts/MojanglesRegular') format('truetype');
  font-weight: 400;
  font-style: normal;
}