body {
    background-color: rgb(72, 73, 74);
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 14px;
    border: 3px solid rgb(30, 30, 31);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    border-top: 3px solid rgb(30, 30, 31);
    border-bottom: 3px solid rgb(30, 30, 31);
    padding: 20px;
    background-color: rgb(246, 249, 250);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 64px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

header h1 {
    font-family: 'MinecraftTen', sans-serif;
    font-size: 1.8rem;
    color: #222;
    margin: 0;
}

main {
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid rgb(30, 30, 31);
}

main .presentation-panel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    max-height: 500px;
}

main .presentation-panel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    z-index: -1;
}

main .presentation-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36%;
    left: 5%;
    gap: 10px;
    color: #fff;
    z-index: 8;
}

main .presentation-content h2 {
    font-family: 'MinecraftTen', sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main .presentation-content p {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 60%;
}

main .presentation-button {
    margin-top: 10px;
    z-index: 8;
}

main .presentation-button button {
    width: 250px;
}

.divider-panel {
    display: block;
    background-color: rgb(72, 73, 74);
    border-bottom: 3px solid rgb(51, 51, 52);
    border-top: 3px solid rgb(92, 93, 94);
    padding: 10px 20px;
    color: white;
    gap: 10px;
}

.divider-panel h2 {
    font-family: 'MinecraftTen', sans-serif;
    font-size: 1.8rem;
}

.divider-panel p {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 1.2rem;
}

.divider-panel ul {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 1.2rem;
    list-style: none;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 12px;
}

.section-grid-item {
    justify-content: center;
    border: 3px solid rgb(30, 30, 31);
    overflow: hidden;
    background-color: rgb(49, 50, 51);
    max-width: 100%;
    box-sizing: border-box;
}

.section-grid-item img {
    max-width: 100%;
    object-fit: cover;
    border-bottom: 3px solid rgb(30, 30, 31);
    height: auto;
    display: block;
}

.section-grid-item p {
    margin: 0;
    font-size: 1rem;
}

.section-grid-item::after {
    content: '';
    display: block;
    height: 32px;
    background-color: rgb(72, 73, 74);
    transition: background-color 0.1s ease;
    margin-bottom: 6px;
}

.section-grid-item:hover::after {
    background-color: rgb(88, 88, 90);
}

.section-grid-item:hover {
    right: 3px;
    bottom: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
}

footer p {
    padding: 20px;
}

/* Buttons Styles */

button {
    font-family: 'MinecraftSeven', sans-serif;
    position: relative;
    display: inline-block;
    min-height: 50px;
    background-color: rgb(88, 88, 90);
    border: 3px rgb(30, 30, 32) solid;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    color: black;
    z-index: 3;
    transition: top 0.05s, background-color 0.05s;
    font-size: 16px;
    padding: 0 10px;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    border: 3px solid rgb(236, 237, 239);
    background-color: rgb(198, 198, 198);
    transition: bottom 0.05s;
    z-index: -1;
}

button:hover::before {
    background-color: rgb(162, 162, 162);
    border-color: rgb(241, 242, 244)
}

button:active {
    top: 6px;
    height: 44px;
}

button:active::before {
    bottom: 0;
}

.dark-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: rgb(177, 178, 181);
}

@font-face {
    font-family: 'MinecraftSeven';
    src: url('https://raw.githubusercontent.com/AntonyPss/AntonyPss-Web/main/fonts/MinecraftSeven.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MinecraftTen';
    src: url('https://raw.githubusercontent.com/AntonyPss/AntonyPss-Web/main/fonts/MinecraftTen.otf') format('opentype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}